.todoApp {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  max-width: 700px;
  width: 100%;
}

.main {
  background-color:  gray;
  padding: 40px;
  padding-bottom: 20px;
  border-radius: 15px;
}