.login {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  &__title {
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  &__button {
    font-size: 1rem;
    border: none;
    background-color: #cc625e;
    color: #fff;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #de7b78;
    }

    &:active {
      background-color: #e6918e;
    }
  }

  &__input {
    cursor: pointer;
    caret-color: red;
    font-size: 1.5rem;
    border: none;
    background-color: darkgray;
    margin-right: 10px;
    margin-left: 10px;

    &:placeholder {
      border-bottom: 2px solid #262b30;
      text-align: center;
      font-size: 18px;
    }

    &:focus {
      border: none;
      border-bottom: #000;
      border-color: none;
      outline: none;
    }
  }
}